# Byte-compiled / cached
__pycache__/
*.py[cod]
*.swp
*.swo
*.DS_Store

# Virtual environment
venv/
env/
.venv/
.env/

# Django-specific
*.log
# db.sqlite3
# media/
# static/
# staticfiles/

# IDE settings
.vscode/
.idea/
*.iml

# Migrations (optional, if you want to exclude them)
**/migrations/*.pyc
